body {
  position: relative;
}
.div--black--shadow {
  position: absolute;
  border: 1px solid transparent;
  top: 0;
  width: 100vw;
  height: 70%;
  z-index: 12;
  display: flex;
  justify-content: center;
  background-color: rgb(102, 102, 102, 0.8);
}

.The--main--container {
  border: 5px dotted rgb(0, 255, 132);
  width: 50%;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.slider-container {
  border: 3px dotted red;
  /* position: relative; */
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  border: 1px solid springgreen;
  width: 100%;
  flex: 0 0 auto; /* Ensure each slide has a fixed size */
}
.slide > img {
  height: 100%;
}

.controls > button {
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
}

.controls > button:first-child {
  position: absolute;
  top: 45%;
  left: 50px;
}

.controls > button:last-child {
  position: absolute;
  top: 45%;
  right: 58px;
}

.progress-container {
  border: 1px solid transparent;
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 5px;
  left: 10.2vw;
  margin-top: 0px;
}
.progress-bar {
  height: 5px;
  background-color: white;
  flex-grow: 1;
  margin-right: 5px;
  transition: width 1s ease-in-out, background-color 1s ease-in-out; /* Adjust the transition duration as needed */
}

.progress-bar.active {
  background-color: #ff0000; /* Red color for active progress bar */
  width: 100%; /* Start with a width of 100% */
}
.X--for--close--autoSlider {
  position: absolute;
  top: 10px;
  left: 138px;
  z-index: 13;
  color: white;
  font-weight: 200;
  font-size: 25px;
  cursor: pointer;
}
.fa-paper-plane {
  position: absolute;
  top: 35px;
  right: 138px;
  z-index: 13;
  color: white;
  font-weight: 2;
  font-size: 23px;
  cursor: pointer;
}
.fa-bookmark {
  position: absolute;
  bottom: 25px;
  left: 138px;
  z-index: 13;
  color: white;
  font-weight: 200;
  font-size: 25px;
  cursor: pointer;
  padding: 0;
}
.fa-heart {
  position: absolute;
  bottom: 27px;
  right: 138px;
  z-index: 13;
  color: white;
  font-weight: 200;
  font-size: 25px;
  cursor: pointer;
  padding: 0;
}

/* +++++++++++++++++++++++++++++++ */
